extends ../shared/template/layout/_default

block vars
  -
    var title = 'example'

block main
  .test-wrap
    .test-inner
      .js-image.test-image-wrap
        .test-image(style='background-image: url(./image/lady.jpg)')
    button#js-button.test-button 発火
