@import '../shared/styles/import';
@import '../shared/icons/css/icons';

$test: #fff;

.body {
  color: $test;
}

.test-wrap {
  width: 100%;
  padding: 30px;
}

.test-inner {
  margin-bottom: 100px;
}

.test-image-wrap {
  width: 400px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s $easeOutExpo;
  overflow: hidden;

  &.display {
    transform: scaleX(1);

    .test-image {
      &::before {
        transform: translateX(120%) skewX(20deg);
      }
    }
  }
}

.test-image {
  width: 100%;
  padding-top: 66.6%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: '';
    top: 0;
    left: -50px;
    width: 130%;
    height: 100%;
    background-color: #ccc;
    z-index: 1;
    position: absolute;
    transition: transform 0.6s 0.6s $easeOutExpo;
    transform-origin: left;
    transform: skewX(20deg);
  }
}

.test-button {
  padding: 20px 40px;
  background-color: rgba($color: #000, $alpha: 0.3);
}
